.guid-container{
    display: flex;
    background-color:rgb(136, 86, 70);
    flex-direction: column;
    text-decoration: underline
}
h1{
    color:rgb(6, 145, 6)
}

.one{
    justify-content: center;
    align-items: center;
    
}

.cardb {

}
.cardh3 {
    text-decoration: underline;
}
